{% extends 'base.html' %}
{% load static%}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
  {% endif %}
<section class="vh-100 mb-50">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center p-3 mb-20 " style="height: 650px;">
        
          <div class="card-body">
            <div class="row justify-content-center" style="border: 1px solid black; padding-left: 0;">



              <div class="col-md-9 col-lg-6 col-xl-4 ">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>

                <form method="post" action="{% url 'account:user_registration' %}" >
                  {% csrf_token %}
                  {{ form.as_p }}
              
                  {% if otp_required %}
                    <div class="form-group">
                      <label for="id_otp">OTP:</label>
                      <input type="text" id="id_otp" name="otp" class="form-control" required>
                    </div>
                    <button type="submit" class="btn theme-btn-2 rounded-pill mt-20">Verify OTP</button>
                  {% else %}
                    <button type="submit" class="btn theme-btn-2 rounded-pill">Generate OTP</button>
                  {% endif %}
                </form>
<br>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center " style="margin-right: 0;">
                <img src="{% static 'ecom/img/register.jpg' %}" class="img-fluid" alt="Sample image" style="width: 100%; height: 100%; ">
            </div>
            
            
            </div>
          </div>
        
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#id_phone_number').on('keydown', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 8 && $(this).val().length <= 5) {
        e.preventDefault();
        return false;
      }
    });
  });
  </script>
  
{% endblock %}



