{% extends 'base.html' %}
{% load static%}
{% block content %}

<section class="vh-100" style="background-image: url('{% static 'ecom/img/nicee2.png' %}');background-size: cover;
background-position: center;">
  <div class="container h-100" style="margin-top: -100px;">
    <div class="row d-flex align-items-center h-100">
      <div class="card mt-100 mb-100" style="width: 70%; margin: 0 auto;">
        <div class="card-body p-1">
          <b><h1 class="text-center">REGISTER</h1></b>
          <div class="row">
            <div class="col-md-10 col-lg-6 col-xl-5 order-1 order-lg-1">
              <form method="post" action="{% url 'account:user_registration' %}" class="p-4">
                {% csrf_token %}
                {{ form.as_p }}
                {% if otp_required %}
                <div class="form-group">
                  <label for="id_otp">OTP:</label>
                  <input type="text" id="id_otp" name="otp" class="form-control" required style="width: 100%; max-width: 350px; height: 40px; margin-bottom: 5px; padding: 5px; outline: none; border: none; border-bottom: 1px solid black;">
                </div>
                <button type="submit" class="btn theme-btn-1 rounded-pill mt-20">Verify OTP</button>
                {% else %}
                <button type="submit" class="btn theme-btn-1 rounded-pill">Generate OTP</button>
                <p class="small fw-bold mt-2 pt-1 mb-0 text-black">Already have an account? <a href="{% url 'account:login' %}" class="text-primary">Sign In</a></p>
                {% endif %}
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Load message -->
                    {% include 'includes/alerts.html' %}
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-7 order-1 order-lg-2">
              <img src="{% static 'ecom/img/login.jpg' %}" class="img-fluid" alt="Sample image" style="width: 100%; height: 100%; border-radius: 10px; ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if messages %}
{% for message in messages %}
  <div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#id_phone_number').on('keydown', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 8 && $(this).val().length <= 5) {
        e.preventDefault();
        return false;
      }
    });
  });
  </script>
  
{% endblock %}