{% extends 'base.html' %}

{% block content %}
<!-- Main Section Start -->
<section class="vh-0 mt-20" style="background-image: url('img/farmb.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="row d-flex justify-content-center align-items-center p-3 mb-20 " style="height: 700px;">
      <div class="col-md-8 col-lg-6 col-xl-4 p-3 shadow-lg bg-white rounded border " >
        <form action="{% url 'account:reset_password' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="{% url 'index' %}"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a>
                        </ul>
                    </div>
          <div class="d-flex flex-row align-items-center justify-content-center " style="height: 150px;">
            <p class="lead fw-bolder text-align-center text-align-center " style="color: aliceblue;">
              <b><h1 class="custom"> RESET PASSWORD</h1></b>
            </p>
          </div>
          <!-- Password input -->
          <div class="form-outline mt-0">
            <input type="password" name="password" placeholder="Set new password">
          </div>
          <!-- Confirm Password input -->
          <div class="form-outline mb-4">
            <input type="password" name="confirm_password" placeholder="Confirm new password">
          </div>
          
         
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" value="Reset Password" class="btn theme-btn-1 btn-lg rounded-pill" style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset Password</button>
            
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <!-- Load message -->
               {% include 'includes/alerts.html' %}
                
            </div>
        </div>
        </form>
      </div>
    </div>
  </section>

                       
<!-- Main Section End -->
{% endblock %}



