{% extends 'base.html' %}

{% block content %}

  
  
  
  <!-- REGISTER AREA START -->
  <section class="vh-0 mt-20" style="background-image: url('img/farmb.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="row d-flex justify-content-center align-items-center p-3 mb-20" style="min-height: 700px;">
      <div class="col-md-8 col-lg-6 col-xl-4 p-3 shadow-lg bg-white rounded border" style="margin-bottom: 60px;">
        <form method="post" action="{% url 'account:user_registration' %}">
          {% csrf_token %}
          <div class="ltn__breadcrumb-list">
            <ul>
              <li><a href="{% url 'index' %}"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
            </ul>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center" style="height: 150px;">
            <p class="lead fw-bolder text-align-center text-align-center" style="color: aliceblue;">
              <b><h2> INVESTOR REGISTER</h2></b>
            </p>
          </div>
          <div class="form-group">
            <label for="id_phone_number">Phone Number</label><br>
            {{ form.phone_number }}
          </div>
          <div class="form-group">
            <label for="id_password">Password</label>
            {{ form.password }}
          </div>
          <div class="form-group">
            <label for="id_role">Role</label><br>
            {{ form.role }}
          </div>
          <div style="height: 20px;"></div>
          {% if otp_required %}
          <div class="form-group">
            <label for="id_otp">OTP</label>
            <input type="text" id="id_otp" name="otp" class="form-control" required>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn theme-btn-1 btn-lg rounded-pill" style="padding-left: 2.5rem; padding-right: 2.5rem;">Verify OTP</button>
          </div>
          {% else %}
          <button type="submit" class="btn theme-btn-1 btn-lg rounded-pill" style="padding-left: 2.5rem; padding-right: 2.5rem;">Generate OTP</button><br>
          {% endif %}
          <ul class="errorlist">
            {% for field in form %}
               {% if field.errors%}
                  {% for error in field.errors %}
                  <p style= " color: red;">{{error}}</p>
                  {% endfor %}
  
                 {% endif %}
            {% endfor %}
            <p style= " color: red;">{{forms.non_field_errors}}</p>
  
        </ul>
        </form>
        
        <p class="small fw-bold mt-2 pt-1 mb-0 text-black">Already have an account? <a href="{% url 'account:login' %}" class="text-primary">Login</a></p>
      </div>
    </div>
  </section>
  
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- Load messages -->
      {% include 'includes/alerts.html' %}
    </div>
  </div>
  
<!-- REGISTER AREA END -->



  
{% endblock %}