{% extends 'base2.html' %}
{% load static %}
{% block dashb %}

{% include 'includes/alerts.html' %}
<!-- Main Section Start -->

<div class="col-xl-10">
	<div class="card">
		<div class="card-body">
			<h2 class=" text-center">Manage Profile</h2>
			{% if not user.is_verified %}
			<h5 style="text-align:center; color:red;">Please update your profile to verify your account.</h5>
			{% endif %}
			<br>
			<form action="{% url 'account:cprofile' %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				
				{% comment %} profile picture code  {% endcomment %}
				<div class="text-center">
					{% if profile.profile_picture %}
						<img  src="{{ profile.profile_picture.url }}" alt="Profile Picture"  style="max-height: 280px; max-width: 200px; border-radius: 5%;">
					{% else %}
						<img src="{% static 'ecom/img/back2.jpg' %}" alt="Profile Picture" style="max-height: 280px; max-width: 200px; border-radius: 5%;"
						>
					{% endif %}
				</div>
				<div class="text-center">
					<label><b>Update Profile Picture</b></label>
					<div class="col-xl-12">
						<label for="profile-picture" class="btn btn-success btn-rounded waves-effect waves-light" style="background-color: #09c199; color: white;">
							<i class="fas fa-paperclip"></i> Attach File
						  </label>
						  <input type="file" class="d-none" name="profile_picture" id="profile-picture">
						  
					</div>
					<label class="labels">{{ profile_form.profile_picture.errors }}</label>
				</div>
				
				<label> Choose Documents </label>
				<div class="col-xl-12">
					<div class="mb-4">
						<p>
							<a class="btn btn-outline-success btn-rounded waves-effect waves-light" data-toggle="collapse" href="#collapseP" aria-expanded="false" aria-controls="collapseExample" style="margin-left:-10px;">
								Passport
							</a>
							<a class="btn btn-outline-success btn-rounded waves-effect waves-light ml-10" data-toggle="collapse" href="#collapseN" aria-expanded="false" aria-controls="collapseExample" style="margin-left:20px;">
								Citizenship
							</a>
						</p>
						<div class="collapse" id="collapseP">
							<div class="card card-body">
								<div style="display: flex; align-items: center;">
									<div class="text-left" style="margin-right: 10px;">
										{% if profile.passport_photo %}
											<img src="{{ profile.passport_photo.url }}" alt="e" class="avatar-md rounded-circle img-thumbnail">
										{% else %}
											<img src="{% static 'images/default-passport.png' %}" alt="" class="avatar-md rounded-circle img-thumbnail">
										{% endif %}
									</div>
									<div>
										<label><b>Update Passport Photo</b></label>
										<div>
											<input type="file" class="dropify" name="passport_photo" id="passport-photo" style="background-color: #00a474; color: white;">
										</div>
									</div>
								</div>
								<label class="labels">{{ profile_form.passport_photo.errors }}</label>
							</div>
						</div>
						
						
						<div class="collapse" id="collapseN">
							<div class="card">
								<div style="display: flex; align-items: center;">
									<div class="text-left" style="margin-right: 10px;">
										{% if profile.citizenship_front %}
											<img src="{{ profile.citizenship_front.url }}" alt="" class="avatar-md rounded-circle img-thumbnail">
										{% else %}
											<img src="{% static 'images/default-citizenship.png' %}" alt="" class="avatar-md rounded-circle img-thumbnail">
										{% endif %}
									</div>
									<div>
										<label><b> Citizenship Front </b></label>
										<div class="col-xl-12">
											<input type="file" class="dropify" data-width="100" name="citizenship_front" id="citizenship-front" style="background-color: #00a474; color: white;">
										</div>
									</div>
								</div>
								<label class="labels">{{ profile_form.citizenship_front.errors }}</label>
							</div>
							<br>
							<div class="card card-body">
								<div style="display: flex; align-items: center;">
									<div class="text-left" style="margin-right: 10px;">
										{% if profile.citizenship_back %}
										<img src="{{ profile.citizenship_back.url }}" alt="" class="avatar-md rounded-circle img-thumbnail">
										{% else %}
											<img src="{% static 'images/default-citizenship.png' %}" alt="" class="avatar-md rounded-circle img-thumbnail">
										{% endif %}
									</div>
									<div>
										<label><b> Citizenship Back </b></label>
										<div class="col-xl-12">
											<input type="file" class="dropify" name="citizenship_back" id="citizenship-back">
										</div>
									</div>
								</div>
								<label class="labels">{{ profile_form.citizenship_back.errors }}</label>
							</div>
						</div>
					</div> <!-- end .mb-4 -->
				</div> <!-- end col -->
				<div class="row">
					<div class="form-group col-xl-6">
						<label>First Name</label>
						{{ profile_form.first_name }}
					</div>

					<div class="form-group col-xl-6">
						<label>Last Name</label>
						{{ profile_form.last_name }}
					</div>
			</div>
				<div class="form-group">
          <label><b>Address *</b></label>
          {{profile_form.address}}
          <small class="text-muted float-right" style="color: darkblue"
            >powered by Google</small
          >
        </div>
        <div class="form-group">
          <label><b>Email *</b></label>
          {{ profile_form.email }}
        </div>
        
        <div class="form-group">
          <label><b>Gender</b></label>
          {{ profile_form.gender }}
        </div>
        

        <div class="container">
			<div class="row">
			  <div class="col-6">
				<div class="form-group">
				  <label><b>Country *</b></label>
				  {{ profile_form.country }}
				</div>
			  </div>
			  <div class="col-6">
				<div class="form-group">
				  <label><b>State *</b></label>
				  {{ profile_form.state }}
				</div>
			  </div>
			  <div class="col-6">
				<div class="form-group">
				  <label><b>City *</b></label>
				  {{ profile_form.city }}
				</div>
			  </div>
			  <div class="col-6">
				<div class="form-group">
				  <label><b>Pin Code *</b></label>
				  {{ profile_form.pin_code }}
				</div>
			  </div>
			</div>
		  </div>
				<button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">Submit</button>
			</form>

		</div> <!-- end card-body-->
	</div> <!-- end card-->
</div>

<!-- Main Section End -->
{% endblock dashb %}
