{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'includes/alerts.html' %}
<!-- Main Section Start -->
<div class="main-section" >

    <div class="page-section account-header buyer-logged-in">
        
        <div class="container">
			
            <div class="row">
				
				
                
                    
					{% include 'includes/c_sidebar.html' %}
 
                
				
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
							
                            <h2  style="margin-top:20px; text-align:center;"> <b>Manage Your Profile </b></h2>
							<br>
							{% if not user.is_verified %}
							<h5 style="text-align:center; color:red;">Please update your profile to verify your account.</h5>
							{% endif %}
									<!-- My  Form Start -->
									<form action="{% url 'account:cprofile' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
										<div class="form-fields-set">
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<div class="restaurant-info">
															  <div class="img-holder" style="display: inline-block; vertical-align: top;">
																<div class="drag-list" style="width: 100px; height: 100px; overflow: hidden;">
																  <div class="item-thumb" style="width: 100%; height: 100%; object-fit: cover;">
																	{% if profile.profile_picture %}
																	<img class="thumbnail" src="{{profile.profile_picture.url}}" alt="Profile Picture">
																	{% else %}
																	<img class="thumbnail" src="{% static 'ecom/img/back2.jpg' %}" alt="Profile Picture">
																	{% endif %}
																  </div>
																</div>
															  </div>
															  <div class="text-holder" style="display: inline-block;">
																<label><b>Update Photo</b></label>
																<div class="upload-gallery">
																  <input type="file" class="attach-button" name="profile_picture" id="profile-picture" style=" background-color: #00a474; color:white;">
																</div>
																<label class="labels">{{ profile_form.profile_picture.errors }}</label>
															  </div>
															</div>
														  </div>
														  
														 

														  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-50">
															<div class="restaurant-info">
																<div class="img-holder" style="display: inline-block; vertical-align: top;">
																	<div class="drag-list" style="width: 100px; height: 100px; overflow: hidden;">
																		<div class="item-thumb" style="width: 100%; height: 100%; object-fit: cover;">
																			{% if profile.passport_photo %}
																				<img class="thumbnail" src="{{profile.passport_photo.url}}" alt="Passport Photo">
																			{% else %}
																				<img class="thumbnail" src="{% static 'ecom/img/passport.jpg' %}" alt=" Passport ">
																			{% endif %}
																		</div>
																	</div>
																</div>
																<div class="text-holder" style="display: inline-block;">
																	<label><b>Update Passport Photo</b></label>
																	<div class="upload-gallery">
																		<input type="file" class="attach-button" name="passport_photo" id="passport-photo" style=" background-color: #00a474; color:white;">
																	</div>
																	<label class="label">{{ profile_form.passport_photo.errors }}</label>
																</div>
															</div>
														</div>
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-50">
															<div class="restaurant-info">
																<div class="img-holder" style="display: inline-block; vertical-align: top;">
																	<div class="drag-list" style="width: 100px; height: 100px; overflow: hidden;">
																		<div class="item-thumb" style="width: 100%; height: 100%; object-fit: cover;">
																			{% if profile.citizenship_front %}
																				<img class="thumbnail" src="{{profile.citizenship_front.url}}" alt="Citizenship Front">
																			{% else %}
																				<img class="thumbnail" src="{% static 'ecom/img/citizenship_front.jpg' %}" alt=" Citizenship ">
																			{% endif %}
																		</div>
																	</div>
																</div>
																<div class="text-holder" style="display: inline-block;">
																	<label><b>Update Citizenship Front</b></label>
																	<div class="upload-gallery">
																		<input type="file" class="attach-button" name="citizenship_front" id="citizenship-front" style=" background-color: #00a474; color:white;">
																	</div>
																	</div>
																	<label class="label">{{ profile_form.citizenship_front.errors }}</label>
																</div>
															</div>
														</div>
														
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-50">
															<div class="restaurant-info">
																<div class="img-holder" style="display: inline-block; vertical-align: top;">
																	<div class="drag-list" style="width: 100px; height: 100px; overflow: hidden;">
																		<div class="item-thumb" style="width: 100%; height: 100%; object-fit: cover;">
																			{% if profile.citizenship_back %}
																				<img class="thumbnail" src="{{profile.citizenship_back.url}}" alt="Citizenship Back">
																			{% else %}
																				<img class="thumbnail" src="{% static 'ecom/img/citizenship_back.jpg' %}" alt=" Citizenship ">
																			{% endif %}
																		</div>
																	</div>
																</div>
																<div class="text-holder" style="display: inline-block;">
																	<label><b>Update Citizenship Back</b></label>
																	<div class="upload-gallery">
																		<input type="file" class="attach-button" name="citizenship_back" id="citizenship-back" style=" background-color: #00a474; color:white;">
																	</div>
																	</div>
																	<label class="label">{{ profile_form.citizenship_back.errors }}</label>
																</div>
															</div>
														</div>
														
														<div class="row">
															<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
																<div class="field-holder">
																	<label>First Name *</label>
																	{{profile_form.first_name}}
																</div>
															</div>
															<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
																<div class="field-holder">
																	<label>Last Name *</label>
																	{{profile_form.last_name}}
																</div>
															</div>
														</div>
														
                                                        {% comment %} <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Phone Number *</label>
                                                                {{user_form.phone_number}}
                                                            </div>
                                                        </div> {% endcomment %}

														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<div class="field-holder">
																<label><b>Address *</b></label>
																{{profile_form.address}}
																<small class="text-muted float-right" style="color:darkblue;">powered by Google</small>
															</div>
														</div>
                                                        

                                                        <div class="row" style='margin-top:20px;'>
															<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
																<div class="field-holder">
																	<label><b>Country *</b></label>
																	{{profile_form.country}}
																</div>
															</div>
	
															<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
																<div class="field-holder">
																	<label><b>State *</b></label>
																	{{profile_form.state}}
																</div>
															</div>
	
															<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
																<div class="field-holder">
																	<label><b>City *</b></label>
																	{{profile_form.city}}
																</div>
															</div>
	
															<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
																<div class="field-holder">
																	<label><b>Pin Code *</b></label>
																	{{profile_form.pin_code}}
																</div>
															</div>
														  </div>
														  <div>
															<div class="field-holder">
																<div class="payment-holder input-button-loader">
																	<input class="btn theme-btn-2 btn-effect-2 rounded-pill" type="submit" value="Update Profile" style="width: 150px; ">

																</div>
																<ul class="errorlist">
																	{% for field in profile_form %}
																		{% for error in field.errors %}
																			<p style="color: red;">{{ error }}</p>
																		{% endfor %}
																	{% endfor %}
																	<p style="color: red;">{{ profile_form.non_field_errors }}</p>
																</ul>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														   <!-- Load message -->
														   {% include 'includes/alerts.html' %}
															
														</div>
													</div>

										</div>
									</form><!-- My Form End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Include jQuery library -->


<!-- Main Section End -->
{% endblock %}
