{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/alerts.html' %}

<!-- Main Section Start -->
<div class="main-section">
    
    {% include 'customers/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Load the sidebar here -->
                    {% include 'includes/c_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style ="margin-top:30px; margin-bottom:30px;">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            
                            <h5 class="text-uppercase">My Investments</h5>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="user-orders-list">
                                        <div class="row ltn__custom-gutter mt-10 mb-10 justify-content-start">
                                            {% for project, details in project_details.items %}
                                                {% if project.is_approved %}
                                                    <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 30px;">
                                                        <div class="ltn__feature-item ltn__feature-item-6 text-center">
                                                            <div class="ltn__feature-icon">
                                                                <a href="{% url 'account:cfarm_status' project.id %}">
                                                                    <img src="{{ project.farm_image.url }}" alt="Farm Image" style="width: 200px; height: 180px; object-fit: cover;">
                                                                </a>                                    
                                                            </div>
                                                            <div class="ltn__feature-info">
                                                                <h4><a href="{% url 'ecom:product' id=project.id %}">{{ project.project_title }}</a></h4>
                                                                <span class="greenish">रु‎ {{ project.value_of_share }}</span><br>
                                                                Quantity Ordered: {{ details.quantity_ordered }}<br>
                                                                {% comment %} Price Paid: {{ details.total_price_paid }} {% endcomment %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if forloop.counter|divisibleby:3 or forloop.last %}
                                                    </div>
                                                    {% if not forloop.last %}
                                                        <div class="row ltn__custom-gutter mt-50 mb-20">
                                                    {% endif %}
                                                {% endif %}
                                        {% endfor %}											
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


{% endblock %}