{% extends 'base2.html' %}
{% load static %}

{% block dashb %}
{% include 'includes/alerts.html' %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">My Investments</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<form class="p-3" method="GET">
    <div class="form-group m-0">
        <div class="input-group">
            <input type="text" name="search" value="{{ search_query }}" class="form-control" placeholder="Search by project title"
                aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i
                        class="mdi mdi-magnify"></i></button>
            </div>
        </div>
    </div>
</form>
<br>
<div class="row">
{% for project, details in project_details.items %}
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'account:cfarm_status' project.id %}">{{ project.project_title }}</a>
                    {% if project.is_completed %}
                        <span class="badge badge-success rounded-pill" >Completed</span>
                     {% elif project.is_soldout%}
                        <span class="badge badge-danger rounded-pill" > Soldout</span>
                     {% else %}
                        <span class="badge badge-success rounded-pill" >Active</span>
                      {% endif %}</h5>
                <h6 class="card-subtitle text-muted">{{project.project_type}}</h6>
            </div>
            <img class="img-fluid" src="{{ project.farm_image.url }}" alt="Farm Image" style="width: 400px; height: 200px; object-fit: cover;">
            <div class="card-body">
                <h6 style="display: flex; align-items: center;">
                    Shares owned: {{ details.quantity_ordered }}
                    <a href="{% url 'account:cfarm_status' project.id %}">
                      <button type="button" class="btn btn-danger btn-sm waves-effect waves-light" 
                      style="margin-left: 50px; background-color: #E8A430;">View Details</button>
                    </a>
                </h6>
                  
            </div>
        </div>

    </div><!-- end col -->
    {% endfor %}
</div>

{% endblock %}