{% load static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">

      <div class="navbar-brand-box">
          <a href="{% url 'index' %}" class="logo">
              <img src="{% static 'ecom/img/logo-2.png' %}">
              
          </a>
      </div>

      <!--- Sidemenu -->
      <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
            {% if user.is_verified %}
                <li >
                    <a href="{% url 'account:customer' %}" style="color: black;">
                        <i class="fas fa-home"></i> Dashboard
                    </a>
                </li>
                <li >
                    <a href="{% url 'account:customer_my_orders' %}" style="color: black;">
                        <i class="fas fa-shopping-cart"></i> My Orders
                    </a>
                </li>
                <li >
                    <a href="{% url 'account:my_investment' user.id %}" style="color: black;">
                        <i class="fas fa-briefcase"></i> My Investments
                    </a>
                </li>
            {% else %}
                <li >
                    <a href="{% url 'account:cprofile' %}" style="color: black;">
                        <i class="fas fa-user"></i> My Profile
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'account:customer_change_password' %}" style="color: black;">
                    <i class="fas fa-lock"></i> Security
                </a>
            </li>
            
          </ul>
      </div>
      <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->