{% load static %}
<div class="page-section restaurant-detail-image-section" style="background: url(
    {% if user_profile.cover_photo %}
    {{ vendor.user_profile.cover_photo.url }}
    {% else %}
    {% static 'ecom\img\farmb.jpg' %}
    {% endif %}
    );
    background-size: cover;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;">

    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <!-- Column Start -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="company-info-detail">
                    <div class="company-info">
                        <div class="img-holder" style="position: relative;">
                            <figure>
                                {% if vendor.user_profile.profile_picture %}
                                <img src="{{ vendor.user_profile.profile_picture.url }}" alt="" style="border-radius: 53%; width: 170px; 
                                height: 150px; float: left; margin-top: 150px ;
                                border: 5px solid #fff;
                                " >
                                {% else %}
                                <img src="{% static 'ecom\img\def_profile.jpg' %}" alt="Photo" 
                                style="border-radius: 50%; width: 170px; 
                                height: 150px; float: left; margin-top: 150px ;
                                border: 5px solid #fff;
                                ">

                                {% endif %}
                                <h1 style="position: absolute; margin-top: 20px; left: 50%; transform: translate(-50%, -50%); color:#006400; text-align: center; z-index: 1;">WELCOME AGRIPRENUER</h1>
                                <span style="position: absolute; margin-top: 300px; left: 56px; color: #000;"><b> {{ user.user_name }} </b></span>
                            </figure>

                        </div>
                    </div>
                        </div>

                        
                </div>
            </div>
            <!-- Column End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>